.nav{
    display: flex;
    flex-direction: column;
}
.nav__tab{
    display: flex;
    list-style: none;
}
.nav__tab::after{
    content: "";
    background-color: #ddd;
    height: 1px;
    width: 100%;
    display: block;
    bottom: 0;
}
.nav__tab .nav__item{
    padding: 10px 10px 0 10px;
    border: 1px solid #ddd;
    border-bottom: 1px solid white;
    display: block;
    position: relative;
    z-index:2;
}
.nav__tabcontent >* {
    display:none;
}
.nav__button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.show{
    display: block;
}